DB_ENGINE=django.db.backends.postgresql
DB_NAME=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-=%fs+*&5a+p7bd&y+6u5r$pgti!(xo=q%3k*^p)5+k&zrn8j+g
DEBUG=True
ALLOWED_HOSTS='51.250.24.216,ruslanb.sytes.net,localhost,127.0.0.1'